<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Abhigyan Chakraborty</title>
    <link rel="stylesheet" href="{{ '/styles/style.css' | relative_url }}">
  </head>
  <body>
    <header>
      <h1>Abhigyan Chakraborty</h1>
      <p>
        <a href="https://www.linkedin.com/in/abhigyan-chakraborty/" target="_blank">LinkedIn</a> ·
        <a href="https://abhigyan-pro.github.io/" target="_blank">Website</a>
      </p>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>